.page--athlete_main
  .athlete__item
    border-left: rem(5px) solid transparent
    padding-left: rem(5px)

  .athlete__name
    font-size: rem($font-size-title)
    line-height: 1.2em
    margin-bottom: rem(10px)

  .athlete__date
    margin-right: rem(10px)
    white-space: nowrap
