.page--event_main
.page--event_tag
  .event__item
    border-left: rem(5px) solid transparent
    padding-left: rem(5px)

  .event__name
    font-size: rem($font-size-title)
    line-height: 1.2em
    margin-bottom: rem(10px)

  .event__intro
    color: lighten($text-1-color, 20%)
    font-size: rem($font-size-secondary)
    margin: 1em 0

  .event__date
    margin-right: rem(10px)
    white-space: nowrap
