.page--register_main
  .registration__item
    border-left: rem(5px) solid transparent
    padding-left: rem(5px)

  .registration__name
    font-size: rem($font-size-title)
    line-height: 1.2em
    margin-bottom: rem(10px)

  .registration__date
    margin-right: rem(10px)
    white-space: nowrap

  .pending
    color: $invalid-color

  .approved
    color: $success-color

  .rejected
    color: $fail-color
