.page--user_message
  .message__item
    border-left: rem(5px) solid transparent
    padding-left: rem(5px)

    &.highlight
      border-left: rem(5px) solid $highlight-color

  .message__title
    font-size: rem($font-size-title)
    line-height: 1.2em
    margin-bottom: rem(10px)

  .message__date
    margin-right: rem(10px)
    white-space: nowrap

  .message__intro
    color: lighten($text-1-color, 20%)
    font-size: rem($font-size-secondary)
    margin: 1em 0

  .alert
    color: #E64C72