    <div class="section side">
      <div class="section__body typo">
        <dl>
          <dt>{{ _('一级标题') }}</dt>
          <dd><pre># 标题</pre></dd>
          <dt>{{ _('二级标题') }}</dt>
          <dd><pre>## 标题</pre></dd>
          <dt>{{ _('加粗') }}</dt>
          <dd><pre>**加粗**</pre></dd>
          <dt>{{ _('斜体') }}</dt>
          <dd><pre>*斜体*</pre></dd>
          <dt>{{ _('行内公式') }}</dt>
          <dd><pre>$ E=mc^2 $</pre></dd>
          <dt>{{ _('公式块') }}</dt>
          <dd><pre>$$ E=mc^2 $$</pre></dd>
          <dt>{{ _('链接') }}</dt>
          <dd><pre>[{{ _('文本') }}](https://...)</pre></dd>
          <dt>{{ _('图片') }}</dt>
          <dd><pre>![{{ _('描述') }}](https://...)</pre></dd>
        </dl>
        <h2>{{ _('了解更多') }}</h2>
        <ul>
          <li><a href="http://commonmark.org/help/" target="_blank"><span class="icon icon-link--external"></span> {{ _('CommonMark 语法') }}</a></li>
          <li><a href="http://www.onemathematicalcat.org/MathJaxDocumentation/TeXSyntax.htm" target="_blank"><span class="icon icon-link--external"></span> {{ _('LaTeX 表达式') }}</a></li>
        </ul>
      </div>
    </div>
